//UTILS
$menuColor: rgba(0, 0, 0, 0.5);
$backgroundColor: rgba(255, 255, 255, 0.7);
$whiteFont: white;
$blackFont: black;

//FONTS
$logoFont: 'Black Ops One', cursive;
$mainFont: 'Roboto Slab', serif;

body {
    margin: 0;
    font-family: $mainFont;
    background-image: url(../images/ForestNature-GreenForest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 90vw;
    //border: 2px solid red;
}

header {
    background-color: $menuColor;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__logo {
        font-family: $logoFont;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &__link {
        color: $whiteFont;
        text-decoration: none;
        & span {
            color: $blackFont;
        }
    }
    &__menu-icon {
        width: 30px;
        height: 30px;
        border: 6px solid $whiteFont;
    }
}
.background {
    background-color: $backgroundColor;
    margin: 30px 0;
}

.projects {
    &__shelf-icon {
        float: left;
        margin: 20px 20px 0;
        width: 100px;
        height: 100px;
        border: 6px solid $blackFont;
    }

    &__text {
        padding: 20px;
        margin: 0;
        text-align: justify;
    }
    
    &__label {
        background-color: $menuColor;
        color: $whiteFont;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        width: 100%;
        border: none;
    }
    &__button-text {
        font-family: $mainFont;
        font-size: 20px;
    }
    &__hiden {
        display: none;
        overflow: hidden;
        & ul {
        list-style-type: none;
        padding-left: 20px;
        }
    }
    &__title {
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 20px;

        &--icon {
            float: left;
            margin-right: 10px;
            max-width: 60px;
            height: 60px;
            border: 6px solid $blackFont;
        }

        &--text {
            margin: 0;
            text-align: justify;
        }
        
        &--bottom {
            position:sticky;
            left: 100%;
            font-size: 1rem;
            color: $whiteFont;
            background-color: $menuColor;
            width: 100px;
            height: 40px;
            font-family: $mainFont;
            border: none;
            margin: 10px 0 30px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

footer {
    padding-top: 1px;
    background-color: $menuColor;
    height: 80px;
    color: $whiteFont;
}

//Wardrobe

.wardrobe {
    &__box {
        padding-left: 10px;
    }
    &__title {
        text-align: center;
        padding-top: 10px;
    }
    &__form {
        &--hiden {
            display: none;
        }
    }
}

.table {
    padding: 10px;
    &__box {
        border-collapse: collapse;
    }
    & th {
        height: 100px;
        border: 1px solid black;
        //transform: rotate(-90deg);
    }
    & td {
        border: 1px solid black;
    }
    // &__box {
    //     border-collapse: collapse;
    // }
}
