//UTILS
$menuColor: rgba(0, 0, 0, 0.5);
$backgroundColor: rgba(255, 255, 255, 0.7);
$whiteFont: white;
$blackFont: black;

//FONTS
$logoFont: 'Black Ops One', cursive;
$mainFont: 'Roboto Slab', serif;

body {
    margin: 0;
    font-family: $mainFont;
    background-image: url(/images/ForestNature-GreenForest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    max-width: 90vw;
    //border: 2px solid red;
}

header {
    background-color: $menuColor;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__logo {
        font-family: $logoFont;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &__link {
        color: $whiteFont;
        text-decoration: none;
        & span {
            color: $blackFont;
        }
    }
    &__menu-icon {
        width: 30px;
        height: 30px;
        border: 6px solid $whiteFont;
    }
}
.background {
    background-color: $backgroundColor;
    margin: 30px 0;
}

.projects {
    &__shelf-icon {
        float: left;
        margin: 20px 20px 0;
        width: 100px;
        height: 100px;
        border: 6px solid $blackFont;
    }
}

footer {
    background-color: $menuColor;
    height: 80px;
    color: $whiteFont;
}

.text {
    padding: 20px;
    text-align: justify;
}