//UTILS
$menuColor: rgba(0, 0, 0, 0.5);
$backgroundColor: rgba(255, 255, 255, 0.7);
$blackColor: white;

//FONTS
$logoFont: 'Black Ops One', cursive;
$mainFont: 'Roboto Slab', serif;

body {
    margin: 0;
    font-family: $mainFont;
    background-image: url(/images/Forest\ -Nature-Green-Forest.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: fixed;
}

.container {
    margin: 0 auto;
    max-width: 90vw;
    //border: 2px solid red;
}

header {
    background-color: $menuColor;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    &__logo {
        font-family: $logoFont;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &__link {
        color: $blackColor;
        text-decoration: none;
        & span {
            color: $secondColor;
        }
    }
    &__menu-icon {
        width: 30px;
        height: 30px;
        border: 6px solid $blackColor;
    }
}

// .foto {
//     background-image: url(/images/wallpaper-mobile.jpg);
//     background-repeat: no-repeat;
//     background-position: 50%;
//     background-size: cover;
//     height: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     & button {
//         background-color: $mainColor;
//         border: 3px solid $blackColor;
//         font-size: larger;
//     }
// }

footer {
    background-color: $menuColor;
    height: 80px;
    color: white;
}

.text {
    background-color: $backgroundColor;
    padding: 10px;
}